@model ShooppyMegaMall.Application.Models.UsersProfileModal
<div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-40">
    <div class="footer-center-title">
        <h4><span>Store Information</span></h4>
    </div>
    @if (Model != null)
    {
        <p><i class="fa fa-map-marker"></i> <span>Address :C/610, Titanium City Center, Anand Nagar Road, Ahmedabad, Gujarat-380015.</span></p>
        <p><i class="fa fa-phone"></i> <span class="call">Call us now : +91 8799163944.</span></p>
        <p><i class="fa fa-envelope"></i> <span class="call">Email : <a href="mailto:admin@ashokinfotech.in" name="link">Shooppy.</a></span></p>
    }
</div>