@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="pp-title">@ViewBag.OrganizationName Privacy & Policy</h1>

        <p>The privacy policy refers to how we "Shooppy (Ashok Infotech)" uses and protects any information you provide on our website and app. We make sure your information is protected and used in a rightful manner.</p>
        <h5>PERSONAL INFORMATION WE COLLECT:</h5>
        <strong>Device Information:</strong>
        <p>
            When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the Site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site. This information is collected automatically.
        </p>
        <strong>Order Information:</strong>
        <p>
            Additionally, when you make a purchase or attempt to make a purchase through the Site, we collect certain information from you, including your name, billing address, shipping address, payment information, email address, and phone number.
            When we talk about "Personal Information" in this Privacy Policy, we are talking both about Device Information and Order Information.
        </p>
      

        <h5>HOW DO WE USE IT:</h5>
        <p>
            a) We use the Order Information that we collect generally to fulfill any orders placed through the Site and app (including processing your payment information, arranging for shipping, and providing you with invoices and/or order confirmations).
            Additionally, we use this Order Information to:
        </p>

        <p>1. Communicate with you;</p>
        <p>2. Screen our orders for potential risk or fraud; and</p>
        <p>3. When in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.</p>

        <p>
            b) We use the Device Information that we collect to help us screen for potential risk and fraud (in particular, your IP address), and more generally to improve and optimize our Site (for example, by generating analytics about how our customers browse and interact with the Site, and to assess the success of our marketing and advertising campaigns).
        </p>

        <!-- <h5>DO NOT TRACK</h5>
    <p>Please note that we do not alter our Site's data collection and use practices when we see a Do Not Track signal from your browser.</p> -->

        <h5>DATA RETENTION AND DELETION</h5>
        <p>When you place an order through the Site, we will maintain your Order Information for our records unless and until you ask us to delete this information. User has all the rights to initiate deletion of their account within the application.</p>

        <h5>CHANGES</h5>
        <p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal, or regulatory reasons.</p>

        <h5>CONTACT US</h5>
        <p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at <a href="mailto:admin@ashokinfotech.in">Shooppy (Ashok Infotech)</a> or by mail using the details provided below:</p>
        <address>
            Ashok Infotech<br>
            C/610, Titanium city center, 100ft. Anand nagar road,<br>
            Ahmedabad, Gujarat-380015<br>
        </address>
        <p>The Company respects your privacy, and if you do not want to receive any kind of communications from Shooppy (Ashok Infotech) or have any grievances to share, please report to: <a href="mailto:admin@ashokinfotech.in">Shooppy (Ashok Infotech)</a></p>
    </div>
</body>
</html>
