@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>T&C</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="pp-title"> Terms &amp; Conditions</h1>

        <p>Access to and use of www.shooppy.in and the products and services available through the website are subject to the following terms, conditions, and notices (“Terms of Service”). By browsing through these Terms of Service and using the services provided by our website (www.shooppy.in), you agree to all Terms of Service along with the Privacy Policy on our website, which may be updated by us from time to time. Please check this page regularly to take notice of any changes we may have made to the Terms of Service.</p>

        <h5>Introduction</h5>
        <p>The domain name www.shooppy.in is a site operated by Ashok Infotech company, a company incorporated under the laws of India with our registered office at Ahmedabad, Gujarat, India.</p>

        <h5>Services</h5>
        <p>Shooppy is an online marketplace offered at great values to the consumer. Membership allows customers to purchase a variety of products. Upon placing an order, www.shooppy.in shall ship the product to you and be entitled to its payment for the service.</p>

        <h5>Law and Jurisdiction</h5>
        <p>These terms shall be governed by and construed in accordance with the laws of India without reference to conflict of laws principles, and disputes arising in relation hereto shall be subject to the exclusive jurisdiction of the courts at Ahmedabad.</p>

        <h5>Exactness of the Product</h5>
        <p>
            The images of the items on the website are for illustrative purposes only. The actual color combination of the product may slightly vary as per the customer’s respective screen resolution.
            All sizes and measurements of items are approximate; however, we do make every effort to ensure they are as accurate as possible. We take all reasonable care to ensure that all details, descriptions, and prices of items are as accurate as possible. Some Products might not be completely covered from the functional keys side.
        </p>

        <h5>Customization</h5>

            <p>1. In case of any size issues or other issues in the custom Products, there will be no replacement or refund under any circumstances. However, if the product is faulty or damaged from our end, then the customer can proceed with the return request.</p>
            <p>2. The Customers are requested to check the price and size guide before placing the order.</p>

        <h5>Violation &amp; Termination</h5>
        <p>You agree that the Company may, in its sole discretion and without prior notice, terminate your access to the website and block your future access if we determine that you have violated these Terms of Service or any other policies. If you or the Company terminates your use of any service, you shall still be liable to pay for any service that you have already ordered till the time of such termination.</p>

        <h5>Contact Us</h5>
        <p>If you have any questions, comments, or requests regarding our Terms of Service or the website, please contact us at <a href="mailto:admin@ashokinfotech.in">Shooppy (Ashok Infotech).</a></p>

        <p class="text-center">Thank you for shopping from shoopy.in, keep loving!</p>
    </div>
</body>
</html>
