@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shipping Policy</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="pp-title">
            Shipping Policy
        </h1>
        <p>We promise our customers one of the best experiences of online shopping that is hassle-free and reliable. We take care of all parameters that ensure your delivery reaches you in a sound state.</p>
        <p>Once the order is shipped from the shipping hub. It cannot be canceled. When the shipment is delivered, and if the customer receives a faulty product, then he or she can raise the return request.</p>
        <p>Delivery time will be depends on distance and weight. However, the actual delivery time may vary due to unexpected circumstances.</p>
        <p>
            We provide free shipping on all orders greater than Rs.499/-. If your cart value is less than Rs.499,
            than shipment charges will be depends on distance, weight and payment method.
        </p>
    </div>
</body>
</html>
