@model ShooppyMegaMall.Application.Models.OrganizationModel
<div class="footer-top-about-us">
    <h4><span>ABOUT US</span></h4>
        <p>
            Shooppy is a marketplace for fashion, lifestyle, health and many more. As we continue to drive changes across key areas of our commitment is embedded in our vision to create a positive impact.
        </p>
</div>
